<%= link_to 'New Restaurant', new_restaurant_path(@restaurant), class: "btn btn-primary" %>
<h2> List off Restaurants </h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li> 
    <p> City: <%= restaurant.address %></p>
  <% end %>
</ul>